/* Light mode */
@media (prefers-color-scheme: light) {
  body {
    background-color: lightgrey;
    color: black;
  }
  select, input, button {
    color: #454545;
    background: rgba(180,180,180,0.8);
  }
  input[type="text"] {
    border-bottom-color: #333333;
  }

  a.lnk:link {
    color: #6666BB;
  }

  a.lnk:visited {
    color: #6666BB;
  }

  a.lnk:focus {
    background: #9999FF;
  }

  a.lnk:hover {
    background: #6666FF;
  }

  a.lnk:active {
    background: #AAAAFF;
    color: #9999FF;
  }

  .menu_button {
    background: rgba(0,0,0,0.1);
  }

  .menu_button:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
  }

  .menu_button > a:link,a:visited {
    color: #333333;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: darkgrey;
    background-image: url('Background.png');
    color: #f5f5f5;
  }
  select, input, button {
    color: #f5f5f5;
    background: rgba(90,90,90,0.8);
  }

  input[type="text"] {
    border-bottom-color: #CCCCCC;
  }

  a.lnk:link {
    color: #9999FF;
  }

  a.lnk:visited {
    color: #8888FF;
  }

  a.lnk:focus {
    background: #AAAAFF;
  }

  a.lnk:hover {
    background: #DDDDFF;
  }

  a.lnk:active {
    background: #BBBBFF;
    color: #9999FF;
  }

  .menu_button {
    background: rgba(255,255,255,0.1);
  }

  .menu_button:hover {
    box-shadow: 0 0 20px rgba(255,255,255,0.3);
  }

  .menu_button > a:link,a:visited {
    color: #CCCCCC;
  }
}

html, body {
  margin: 0px;
  padding: 0px;
  max-height: 100vh;
  min-height: 100vh;
}

body {
  background-position: center;
  background-size: 100%;
  font-size: medium ; 
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  display: inline;
  margin: 0px;
  padding: 0px;
}

h1 {
  color: navy;
  margin-left: 20px;
}

table {
  border-collapse: collapse;
}

table {
//  border: 3px solid black;
  border: 0px;
}

td {
  vertical-align: top;
}

th, td {
  text-align: left;
  padding-left: 1em;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  // border-bottom: 2px solid #555;
}

a {
  outline: none;
  text-decoration: none;
  padding: 0.1em 0.3em 0;
}

a.lnk:link {
  color: #9999FF;
}

a.lnk:visited {
  color: #8888FF;
}

a.lnk:focus {
  border-bottom: 1px solid;
  background: #AAAAFF;
}

a.lnk:hover {
  border-bottom: 1px solid;     
  background: #DDDDFF;
}

a.lnk:active {
  background: #BBBBFF;
  color: #9999FF;
}

#headerTable {
  border: 0px;
  width: 100vw; // vw = viewport width.
}

#footerTable {
  border: 0px;
  width: 100vw;
}

.progress_bar {
  background: blue;
  color: white;
}

.status0 { /* Error */
  background: red;
  color: darkred;
  text-shadow: 1px 1px 3px red;
}

.status100 { /* Imaged */
  background: blue;
  color: white;
}

.status101 { /* finalizing... */
  background: lightblue;
  color: white;
}

.status102 { /* Rebooted */
  background: lightgreen;
  color: darkgreen;
  text-shadow: 1px 1px 3px green;
}

.status103 { /* beeping... */
  background: lightgrey;
  color: black;
}

.status104 { /* rebooting */
  background: lightyellow;
  color: black;
}

.status105 { /* shutdown */
  background: grey;
  color: black;
}

.status106 { /* shell */
  background: lightgrey;
  color: black;
}

.status107 { /* extracting... */
  background: blue;
  color: white;
}

.status108 { /* preinstall */
  background: yellow;
  color: black;
}

.status109 { /* postinstall */
  background: yellow;
  color: black;
}

.pri_error {
  background: red;
  color: darkred;
  text-shadow: 1px 1px 3px red;
}

.pri_warning {
  color: rgb(100%,70%,0%);
}

.pri_info {
  color: #00FF00;
}

.pri_action {
  color: #FFFF00;
}

.pri_notice {
  color: #00FFFF;
}

.pri_detail {
  color: #00BBBB;
}

.pri_stdout {
  color: rgb(100%,100%,70%);
}

.pri_stderr {
  color: rgb(100%,50%,50%);
}

.pri_system {
  color: rgb(60%,60%,60%);
}

.pri_debug {
  color: rgb(50%,50%,100%);
}

.pri_fatal {
  background: darkred;
  color: rgb(100%,30%,30%);
  text-shadow: 1px 1px 3px red;
}

select, input, button {
  font-size: medium ; 
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  border-style: solid;
  border-width: 1px;
}

input[type="text"] {
  border-left: none;
  border-right: none;
  border-top: none;
}

select:focus, input:focus, button:focus { 
    outline: none !important;
    box-shadow: 0 0 10px #999999;
}

.flex_column {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.flex_header {
  flex: 0 0 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 0,
  flex-basis: auto
  */
  padding: 1em 0em 1em 0em; /* top right bottom left */
}

.flex_log_content {
  flex: 1 1 0;
  margin: 0px 5px 0px 5px; /* top right bottom left */
  padding: 0; /* top right bottom left */
}

.flex_content {
  flex: 1 1 auto;
  overflow-y: scroll;
  padding: 0px 5px 0px 5px; /* top right bottom left */
}

.flex_footer {
  flex: 0 0 auto;
  padding: 1em 0em 1em 0em; /* top right bottom left */
}

.menu_grid {
  display: grid;
/*  border: 2px dashed rgba(114, 186, 94, 0.35);
  background: rgba(114, 186, 94, 0.05); */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center; /* Align horizontally */
  align-items: center;   /* Align vertically */
}

.menu_button img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

/* .menu_button {
  border: 2px dashed rgba(236, 198, 48, 0.5);
}

a.btn {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
} */
