# This is ssh client systemwide configuration file.  This file provides 
# defaults for users, and the values can be changed in per-user configuration
# files or on the command line.

Host *
   ForwardAgent yes 
   ForwardX11 no
   StrictHostKeyChecking no
