Source: va-systemimager
Section: admin
Priority: optional
Maintainer: dann frazier <dannf@dannf.org>
Build-Depends: debhelper (>> 2.0.0), docbook-to-man, cygnus-stylesheets
Standards-Version: 3.2.1

Package: va-systemimager-client
Architecture: all
Depends: rsync, perl5
Description: VA SystemImager client side utilities
 VA SystemImager is a set of utilities for installing GNU/Linux images to
 clients machines over the network.  Images are stored in flat files on the
 server, making updates easy.  rsync is used for transfers, making updates
 efficient.
 .
 This package contains utilities for updating a client's image from the
 server, and preparing a client for having it's image fetched by the server.

Package: va-systemimager
Architecture: all
Depends: rsync, dhcp, syslinux, perl5, dosfstools, debianutils (>= 1.7)
Suggests: libc6-pic, va-systemimager-kernel, va-systemimager-initrd, va-systemimager-raidtools2, va-systemimager-reiserfsprogs
Description: VA SystemImager Image-Server
 VA SystemImager is a set of utilities for installing GNU/Linux images to
 clients machines over the network.  Images are stored in flat files on the
 server, making updates easy.  rsync is used for transfers, making updates
 efficient.

Package: va-systemimager-kernel
Architecture: all
Depends: tftpd-hpa
Description: VA SystemImager kernel for client nodes
 VA SystemImager is a set of utilities for installing GNU/Linux images to
 clients machines over the network.  Images are stored in flat files on the
 server, making updates easy.  rsync is used for transfers, making updates
 efficient.
 .
 This package contains a binary linux kernel for booting client nodes.  This
 package should be installed on the image server.
