Source: systemimager
Section: admin
Priority: optional
Maintainer: dann frazier <dannf@dannf.org>
Build-Depends: ash, bin86, bzip2, cygnus-stylesheets, debhelper (>> 2.0.0), dhcp-client, docbook-to-man, e2fsprogs, libc6-pic, mawk, mtools, rsync, snarf, util-linux, wget
Standards-Version: 3.2.1

Package: systemimager-server
Architecture: all
Depends: debianutils (>= 1.7), dhcp, dosfstools, perl5, rsync, syslinux, systemimager-kernel-i386 (>= 1.5.0), systemimager-initrd-i386 (>= 1.5.0) | systemimager-initrd-dkf-i386 (>= 1.5.0), systemimager-bin-i386 (>= 1.5.0), systemimager-common
Recommends: mkisofs
Description: SystemImager Image-Server
 SystemImager is a set of utilities for installing GNU/Linux images to
 clients machines over the network.  Images are stored in flat files on the
 server, making updates easy.  rsync is used for transfers, making updates
 efficient.

Package: systemimager-client
Architecture: all
Depends: perl5, rsync, systemimager-common, systemconfigurator
Description: SystemImager client side utilities
 SystemImager is a set of utilities for installing GNU/Linux images to
 clients machines over the network.  Images are stored in flat files on the
 server, making updates easy.  rsync is used for transfers, making updates
 efficient.
 .
 This package contains utilities for updating a client's image from the
 server, and preparing a client for having it's image fetched by the server.

Package: systemimager-common
Architecture: all
Depends: perl5, rsync
Description: SystemImager client side utilities
 SystemImager is a set of utilities for installing GNU/Linux images to
 clients machines over the network.  Images are stored in flat files on the
 server, making updates easy.  rsync is used for transfers, making updates
 efficient.
 .
 This package contains files common to both the systemimager client and server.

Package: systemimager-kernel-i386
Architecture: all
Suggests: systemimager-server
Description: SystemImager kernel for client nodes
 SystemImager is a set of utilities for installing GNU/Linux images to
 clients machines over the network.  Images are stored in flat files on the
 server, making updates easy.  rsync is used for transfers, making updates
 efficient.
 .
 This package contains a binary linux kernel for booting client nodes.  This
 package should be installed on the image server.

Package: systemimager-initrd-i386
Architecture: all
Conflicts: systemimager-initrd-dkf-i386
Suggests: systemimager-server
Description: SystemImager official ramdisk for client nodes
 SystemImager is a set of utilities for installing GNU/Linux images to
 clients machines over the network.  Images are stored in flat files on the
 server, making updates easy.  rsync is used for transfers, making updates
 efficient.
 .
 This package contains a compressed ramdisk for booting client nodes.  This
 package should be installed on the image server.  The source package does
 not include the entire source for this package, so 
 systemimager-initrd-dkf-i386 is provided as an alternative.

Package: systemimager-bin-i386
Architecture: all
Suggests: systemimager-server
Description: SystemImager ramdisk for client nodes
 SystemImager is a set of utilities for installing GNU/Linux images to
 clients machines over the network.  Images are stored in flat files on the
 server, making updates easy.  rsync is used for transfers, making updates
 efficient.
 .
 This package contains binaries which are downloaded by client nodes
 during autoinstallation.  This package should be installed on the image
 server.

Package: systemimager-doc
Architecture: all
Suggests: systemimager-server
Description: SystemImager ramdisk for client nodes
 SystemImager is a set of utilities for installing GNU/Linux images to
 clients machines over the network.  Images are stored in flat files on the
 server, making updates easy.  rsync is used for transfers, making updates
 efficient.
 .
 This package contains documentation for SystemImager
