Source: systemimager
Section: admin
Priority: optional
Maintainer: dann frazier <dannf@debian.org>
Build-Depends: ash, bin86 [i386], busybox-source-0.60.0, bzip2, debhelper (>> 2.0.0), dhcp-client, docbook-to-man, e2fsprogs (> 1.25), host, kernel-source-2.2.20 [i386], kernel-source-2.4.9-ia64 [ia64], libc6-pic [i386], libc6.1-pic [ia64], mawk, mtools, rsync (> 2.4.6), sgmltools-lite, snarf, util-linux
Standards-Version: 3.2.1

Package: systemimager-server
Architecture: all
Depends: debianutils (>= 1.7), libappconfig-perl, perl5, rsync, systemimager-kernel-i386 (= ${Source-Version}) | systemimager-kernel-ia64 (= ${Source-Version}), systemimager-initrd-i386 (= ${Source-Version}) | systemimager-initrd-ia64 (= ${Source-Version}), systemimager-bin-i386 (= ${Source-Version}) | systemimager-bin-ia64 (= ${Source-Version}), systemimager-common (= ${Source-Version}), syslinux | elilo
Recommends: dhcp, dosfstools, mkisofs
Description: SystemImager Image-Server
 SystemImager is a set of utilities for installing GNU/Linux images to
 clients machines over the network.  Images are stored in flat files on the
 server, making updates easy.  rsync is used for transfers, making updates
 efficient.

Package: systemimager-client
Architecture: all
Depends: perl5, rsync, systemimager-common (= ${Source-Version}), systemconfigurator, mtools
Description: SystemImager utilities for golden clients
 SystemImager is a set of utilities for installing GNU/Linux images to
 clients machines over the network.  Images are stored in flat files on the
 server, making updates easy.  rsync is used for transfers, making updates
 efficient.
 .
 This package contains utilities for updating a client's image from the
 server, and preparing a client for having it's image fetched by the server.

Package: systemimager-common
Architecture: all
Depends: perl5, rsync
Description: SystemImager utilities common to both the server and client
 SystemImager is a set of utilities for installing GNU/Linux images to
 clients machines over the network.  Images are stored in flat files on the
 server, making updates easy.  rsync is used for transfers, making updates
 efficient.
 .
 This package contains files common to both the systemimager client and server.

Package: systemimager-doc
Architecture: all
Suggests: systemimager-server
Description: SystemImager ramdisk for client nodes
 SystemImager is a set of utilities for installing GNU/Linux images to
 clients machines over the network.  Images are stored in flat files on the
 server, making updates easy.  rsync is used for transfers, making updates
 efficient.
 .
 This package contains documentation for SystemImager

Package: systemimager-kernel-i386
Architecture: all
Suggests: systemimager-server
Description: SystemImager kernel for client nodes
 SystemImager is a set of utilities for installing GNU/Linux images to
 i386-based client machines over the network.  Images are stored in flat files 
 on the server, making updates easy.  rsync is used for transfers, making 
 updates efficient.
 .
 This package contains a binary linux kernel for booting client nodes.  This
 package should be installed on the image server.

Package: systemimager-initrd-i386
Architecture: all
Suggests: systemimager-server
Description: SystemImager official ramdisk for client nodes
 SystemImager is a set of utilities for installing GNU/Linux images to
 clients machines over the network.  Images are stored in flat files on the
 server, making updates easy.  rsync is used for transfers, making updates
 efficient.
 .
 This package contains a compressed ramdisk for booting i386-based client 
 nodes.  This package should be installed on the image server.

Package: systemimager-bin-i386
Architecture: all
Suggests: systemimager-server
Description: SystemImager ramdisk for client nodes
 SystemImager is a set of utilities for installing GNU/Linux images to
 clients machines over the network.  Images are stored in flat files on the
 server, making updates easy.  rsync is used for transfers, making updates
 efficient.
 .
 This package contains binaries for i386-based client nodes which are 
 retrieved from the image server during automated client installs.

Package: systemimager-kernel-ia64
Architecture: all
Suggests: systemimager-server
Description: SystemImager kernel for client nodes
 SystemImager is a set of utilities for installing GNU/Linux images to
 client machines over the network.  Images are stored in flat files 
 on the server, making updates easy.  rsync is used for transfers, making 
 updates efficient.
 .
 This package contains a binary linux kernel for booting ia64-based client 
 nodes.  This package should be installed on the image server.

Package: systemimager-initrd-ia64
Architecture: all
Suggests: systemimager-server
Description: SystemImager official ramdisk for client nodes
 SystemImager is a set of utilities for installing GNU/Linux images to
 clients machines over the network.  Images are stored in flat files on the
 server, making updates easy.  rsync is used for transfers, making updates
 efficient.
 .
 This package contains a compressed ramdisk for booting ia64-based client 
 nodes.  This package should be installed on the image server.

Package: systemimager-bin-ia64
Architecture: all
Suggests: systemimager-server
Description: SystemImager ramdisk for client nodes
 SystemImager is a set of utilities for installing GNU/Linux images to
 clients machines over the network.  Images are stored in flat files on the
 server, making updates easy.  rsync is used for transfers, making updates
 efficient.
 .
 This package contains binaries for ia64-based client nodes which are 
 retrieved from the image server during automated client installs.
