#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatability version to use.
export DH_COMPAT=2

ARCH = $(shell uname -m | sed -e s/i.86/i386/ -e s/sun4u/sparc64/ -e s/arm.*/arm/ -e s/sa110/arm/)

TFTP_DIR = /usr/lib/systemimager

#OVERRIDE_PKGS := systemimager-server systemimager-kernel-$(ARCH) systemimager-initrd-$(ARCH) systemimager-bin-$(ARCH)

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.

	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir

	# Add here commands to compile the package.
	@[ "$(ARCH)" == "i386" ] || [ "$(ARCH)" == "ia64" ] || \
	 (echo -e "\n\n********** Error **********" && \
	  echo "Only i386 and ia64 clients are supported in this release." && \
	  echo -e "You must build on one of these systems\n" && exit 1 )
	$(MAKE) docs
	cp CHANGE.LOG changelog

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	-$(MAKE) distclean
	-rm -rf debian/systemimager-client debian/systemimager-server \
	debian/systemimager-kernel-$(ARCH) debian/systemimager-initrd-$(ARCH) \
	debian/systemimager-bin-$(ARCH)
	-rm -f $(CURDIR)/changelog
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the packages
	mkdir -p debian/systemimager-client
	$(MAKE) install_client DESTDIR=$(CURDIR)/debian/systemimager-client

	mkdir -p debian/systemimager-server
	$(MAKE) install_server DESTDIR=$(CURDIR)/debian/systemimager-server
	$(MAKE) check_floppy_size
	mkdir -p $(CURDIR)/debian/systemimager-server/etc/systemimager

	mkdir -p debian/systemimager-common
	$(MAKE) install_common DESTDIR=$(CURDIR)/debian/systemimager-common

	mkdir -p debian/systemimager-doc
	$(MAKE) install_docs DESTDIR=$(CURDIR)/debian/systemimager-doc

	mkdir -p debian/systemimager-kernel-$(ARCH)
	$(MAKE) install_kernel DESTDIR=$(CURDIR)/debian/systemimager-kernel-$(ARCH)

	mkdir -p debian/systemimager-initrd-$(ARCH)
	$(MAKE) install_initrd DESTDIR=$(CURDIR)/debian/systemimager-initrd-$(ARCH)

	mkdir -p debian/systemimager-bin-$(ARCH)
	$(MAKE) install_raidtools DESTDIR=$(CURDIR)/debian/systemimager-bin-$(ARCH)
	$(MAKE) install_reiserfsprogs DESTDIR=$(CURDIR)/debian/systemimager-bin-$(ARCH)
	$(MAKE) install_dosfstools DESTDIR=$(CURDIR)/debian/systemimager-bin-$(ARCH)

	# install lintian overrides

#	$(foreach package, $(OVERRIDE_PKGS), \
#		mkdir -p \
#		$(CURDIR)/debian/$(package)/usr/share/lintian/overrides; \
#		cp -a debian/$(package).lintian.overrides \
#		$(CURDIR)/debian/$(package)/usr/share/lintian/overrides/$(package);)

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
# (depectated according to man page)	dh_testversion 2
	dh_testdir
	dh_testroot
#	dh_installdebconf	
	dh_installdocs changelog CREDITS ERRATA README TODO VERSION
	dh_installexamples -psystemimager-server ./doc/autoinstall.kernel.config ./doc/autoinstall.kernel.support ./doc/local.cfg ./etc/init.d/rsync
	dh_installmenu
#	dh_installemacsen
#	dh_installpam
	dh_installinit --init-script=systemimager
#	dh_installcron
#	dh_installmanpages
#	dh_installinfo
#	dh_undocumented
	dh_installchangelogs 
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	# You may want to make some executables suid here.
#	dh_suidregister
#	dh_makeshlibs
	dh_installdeb
#	dh_perl
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure






